* {
  margin: 0;
  padding: 0;
}
body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("contact-bg.jpg");
  background-size: cover;
  background-color: #efefef;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.contact-box {
  width: 500px;
  background-color: rgba(0, 0, 0, 0.8);
  /* box-shadow: 0 0 20px 0 #f90000; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
form {
  margin: 35px;
}
.input-field {
  background-color: #000000;
  color: #00b8ff;
  width: 400px;
  height: 40px;
  margin-top: 20px;
  padding-left: 10px;
  border: 1px solid #f10505;
  border-radius: 14px;
  outline: none;
}
.textarea-field {
  height: 150px;
  padding-top: 10px;
}
.btn {
  width: 400px;
  border-radius: 20px;
  color: #fff;
  margin-top: 18px;
  padding: 10px;
  background-color: rgba(43, 236, 228, 0.47);
  font-size: 15px;
  border: none;
  cursor: pointer;
}
.btn:hover {
  background-color: rgba(16, 212, 206, 0.849);
}
::placeholder {
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  color: #508fa8;
}
